* {
    margin: 0;
    font-family: Arial;
}

body {
    background-color: white;
}

nav {
    display: flex;
    background-color: aquamarine;
    padding: 10px;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul li {
    margin-right: 15px;
    list-style-type: none;
}