* {
    margin: 0;
}

body, header, footer, main, article, aside{
    padding: 10px;
}

body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

header {
    background-color: aqua;
    margin-bottom: px;
    height: 15vh;
    flex-direction: column;
    line-height: 15vh;
    box-sizing: border-box;
}

main {
    display: flex;
    margin-bottom: 18px;
    height: 70vh;
    box-sizing: border-box;
}

article {
    background-color: blueviolet;
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
    flex: 4;
}

aside {
    background-color: palegoldenrod;
    margin-right: 5px;
    width: 30%;
}

footer {
    background-color: plum;
    margin-bottom: px;
    height: 15vh;
    flex-direction: column;
    line-height: 15vh;
    box-sizing: border-box;
}

img {
    width: 90px;
    height: 100px;
}

